@{
    ViewData["Title"] = "About";
}
 <style>
    body{
        background-color: palegreen;
    }
    .frame{
        background-color: white;
        height: 50;
    }
    </style>
<div class="frame"><h2>@ViewData["Title"]</h2>

<p>Buffteks is a student club at West Texas A&M University</p>
</div>