@{
    ViewData["Title"] = "Contact";
}
 <style>
    body{
        background-color: palegreen;
    }
    .frame{
        background-color: white;
    }
    </style>
<div class="frame"><h2>@ViewData["Title"]</h2>


<address>
    Wtamu Box 51561<br />
    Canyon, Tx 79016<br />
    <abbr title="Phone">P:</abbr>
    806.651.0100
</address>

<address>
    <strong>Email</strong> <a href="mailto:BuffTeks@wtamu.edu">BuffTeks@wtamu.edu</a><br />
</address>
</div>